{{!-- 	<div id="loans-chart-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div> --}}
{{!-- 	{{ view App.LineGraphView id=my-graph contentBinding="App.LoansController.data" categoriesBinding=categories title="This is a graph" }} --}}